<mat-drawer-container hasBackdrop="true" #drawer>
  <mat-drawer [mode]="'over'" position="end">
    <app-manage-trigger
      *ngIf="drawerViewState == 'trigger'"
      [editMode]="editMode"
      [trigger]="editedTrigger"
      (onClose)="onDrawerClose()"
      (onTriggerCreate)="onTriggerCreate($event)"
      (onTriggerEdit)="onTriggerEdit($event)"
    ></app-manage-trigger>
    <app-manage-user
      *ngIf="drawerViewState == 'user'"
      [user]="editedUser"
      [editMode]="editMode"
      (onClose)="onDrawerClose()"
      (onUserCreate)="onUserCreate($event)"
      (onUserEdit)="onUserEdit($event)"
    ></app-manage-user>
  </mat-drawer>
  <mat-drawer-content>
    <div class="manage-configuration-wrapper">
      <div class="content-wrapper">
        <div class="form-wrapper grid-item">
          <div class="header-wrapper centered">
            <h2>{{manageMode ? "Manage" : "Create"}} Configuration</h2>
          </div>
          <div class="edit-mode-toggle">
            <mat-slide-toggle color="primary" (change)="editMode = $event.checked">
              Edit Mode
            </mat-slide-toggle>
          </div>
          <form [formGroup]="configForm">
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Server ID</mat-label>
              <input 
                matInput 
                placeholder="Server ID" 
                formControlName="serverId" 
                [readonly]="!editMode">
            </mat-form-field>

            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Default Channel</mat-label>
              <input 
                matInput 
                placeholder="Default Channel" 
                formControlName="defaultChannel" 
                [readonly]="!editMode">
            </mat-form-field>
          
            <mat-checkbox 
              class="checkbox form-field" 
              formControlName="enableKickCache" 
              color="primary" 
              (change)="onKickCacheClick()"
              [disabled]="!editMode">
              Enable Kick Cache
            </mat-checkbox>
          
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Kick Cacche Days</mat-label>
              <input 
                matInput 
                placeholder="Kick Cache Days" 
                formControlName="kickCacheDays" 
                type="number"
                [readonly]="!editMode">
            </mat-form-field>
          
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Kick Cache Hours</mat-label>
              <input 
                matInput 
                placeholder="Kick Cache Hours" 
                formControlName="kickCacheHours" 
                type="number"
                [readonly]="!editMode">
            </mat-form-field>
          
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Kick Cache Server Message</mat-label>
              <input 
                matInput 
                placeholder="Kick Cache Server Message" 
                formControlName="kickCacheServerMessage" 
                [readonly]="!editMode">
            </mat-form-field>
          
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Kick Cache User Message</mat-label>
              <input 
                matInput 
                placeholder="Kick Cache User Message" 
                formControlName="kickCacheUserMessage" 
                [readonly]="!editMode">
            </mat-form-field>

            <div class="action-container">
              <button
                mat-flat-button
                (click)="onSubmit()"
                [disabled]="!editMode"
                color="primary">
                {{manageMode ? "Update" : "Submit"}}
              </button>
              <button
                *ngIf="manageMode"
                mat-stroked-button
                [disabled]="!editMode"
                (click)="onDeleteConfigClick()"
                color="primary">
                Delete
              </button>
            </div>

          </form>
        </div>
        <div class="trigger-table-wrapper grid-item">
          <div class="header-wrapper">
            <h2>Triggers</h2>
            <button
              mat-flat-button
              (click)="onCreateTriggerClick()"
              [disabled]="!editMode"
              color="primary"
            >Add Trigger</button>
          </div>
          <app-trigger-table
            [triggers]="triggers"
            [editMode]="editMode"
            (onTriggerEdit)="onTriggerEditClick($event)"
            (onTriggerDelete)="onTriggerDeleteClick($event)"
          ></app-trigger-table>
        </div>
        <div class="user-table-wrapper grid-item">
          <div class="header-wrapper">
            <h2>Users</h2>
            <button
              mat-flat-button
              (click)="onCreateUserClick()"
              [disabled]="!editMode"
              color="primary"
            >Add User</button>
          </div>
          <app-user-table
            [users]="users"
            [editMode]="editMode"
            (onUserEdit)="onUserEditClick($event)"
            (onUserDelete)="onUserDeleteClick($event)"
        ></app-user-table>
        </div>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>