<mat-drawer-container hasBackdrop="true" #drawer>
  <mat-drawer [mode]="'over'" position="end">
    <app-manage-trigger
      *ngIf="drawerViewState == 'trigger'"
      [editMode]="viewMode == 'edit'"
      [manageMode]="triggerManageMode"
      [trigger]="selectedTrigger"
      (onClose)="onDrawerClose()"
      (onTriggerCreate)="onTriggerCreate($event)"
      (onTriggerEdit)="onTriggerEdit($event)"
    ></app-manage-trigger>
    <app-manage-user
      *ngIf="drawerViewState == 'user'"
      [user]="selectedUser"
      [manageMode]="userManageMode"
      [editMode]="viewMode == 'edit'"
      (onClose)="onDrawerClose()"
      (onUserCreate)="onUserCreate($event)"
      (onUserEdit)="onUserEdit($event)"
    ></app-manage-user>
  </mat-drawer>
  <mat-drawer-content>
    <div class="manage-configuration-wrapper">
      <div class="content-wrapper">
        <div class="form-wrapper grid-item">
          <div class="header-wrapper centered">
            <h2>{{manageMode == 'edit' ? "Manage" : "Create"}} Configuration</h2>
          </div>
          <div class="edit-mode-toggle">
            <mat-slide-toggle 
              color="primary" 
              (change)="onToggleViewModeClick($event.checked)" 
              [checked]="viewMode != 'view'"
              *ngIf="manageMode != 'create'">
              Edit Mode
            </mat-slide-toggle>
          </div>
          <form [formGroup]="configForm">
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Server ID</mat-label>
              <input 
                matInput 
                placeholder="Server ID"
                (change)="onConfigurationValueChange()"
                formControlName="serverId">
            </mat-form-field>

            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Default Channel</mat-label>
              <input 
                matInput 
                placeholder="Default Channel"
                (change)="onConfigurationValueChange()"
                formControlName="defaultChannel" >
            </mat-form-field>

            <mat-checkbox 
              class="kickCacheToggle"
              formControlName="enableKickCache"
              (change)="onKickCacheClick($event.checked, false)"
              color="primary" 
              [disabled]="viewMode == 'view'" >
              Enable Kick Cache
            </mat-checkbox>
        
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Kick Cacche Days</mat-label>
              <input 
                matInput 
                placeholder="Kick Cache Days" 
                formControlName="kickCacheDays"
                (change)="onConfigurationValueChange()"
                type="number">
            </mat-form-field>
          
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Kick Cache Hours</mat-label>
              <input 
                matInput 
                placeholder="Kick Cache Hours" 
                formControlName="kickCacheHours"
                (change)="onConfigurationValueChange()"
                type="number">
            </mat-form-field>
          
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Kick Cache Server Message</mat-label>
              <input 
                matInput 
                placeholder="Kick Cache Server Message"
                (change)="onConfigurationValueChange()"
                formControlName="kickCacheServerMessage" >
            </mat-form-field>
          
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Kick Cache User Message</mat-label>
              <input 
                matInput 
                placeholder="Kick Cache User Message"
                (change)="onConfigurationValueChange()" 
                formControlName="kickCacheUserMessage" >
            </mat-form-field>

            <div class="action-container">
              <button
                mat-flat-button
                (click)="onSubmit()"
                [disabled]="viewMode == 'view'"
                color="primary">
                {{manageMode == 'edit' ? "Update" : "Submit"}}
              </button>
              <button
                *ngIf="manageMode == 'edit'"
                mat-stroked-button
                [disabled]="viewMode == 'view'"
                (click)="onDeleteConfigClick()"
                color="primary">
                Delete
              </button>
            </div>

          </form>
        </div>
        <div class="trigger-table-wrapper grid-item">
          <div class="header-wrapper">
            <h2>Triggers</h2>
            <button
              mat-flat-button
              (click)="onCreateTriggerClick()"
              [disabled]="viewMode == 'view'"
              color="primary"
            >Add Trigger</button>
          </div>
          <app-trigger-table
            [triggers]="triggers"
            [editMode]="viewMode == 'edit'"
            (onTriggerEdit)="onTriggerEditClick($event)"
            (onTriggerDelete)="onTriggerDeleteClick($event)"
          ></app-trigger-table>
        </div>
        <div class="user-table-wrapper grid-item">
          <div class="header-wrapper">
            <h2>Users</h2>
            <button
              mat-flat-button
              (click)="onCreateUserClick()"
              [disabled]="viewMode == 'view'"
              color="primary"
            >Add User</button>
          </div>
          <app-user-table
            [users]="users"
            [editMode]="viewMode == 'edit'"
            (onUserEdit)="onUserEditClick($event)"
            (onUserDelete)="onUserDeleteClick($event)"
        ></app-user-table>
        </div>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>