<div class="user-table-wrapper">
  <table mat-table [dataSource]="dataSource" matSort >
    <ng-container matColumnDef="icon">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element" (click)="onEditUser(element)">
        <mat-icon>edit</mat-icon>
      </mat-cell>
      <mat-cell *matCellDef="let element" (click)="onDeleteUser(element.id)">
        <mat-icon>delete</mat-icon>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="isSecret">
      <mat-header-cell *matHeaderCellDef 
        mat-sort-header 
        [matTooltip]="'Is user a secret user'" 
        [matTooltipPosition]="'below'"> 
        Is Secret 
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.isSecret}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="userName">
      <mat-header-cell *matHeaderCellDef 
        mat-sort-header 
        [matTooltip]="'Username of user'" 
        [matTooltipPosition]="'below'"> 
        Username
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.userName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="discordUserId">
      <mat-header-cell *matHeaderCellDef
        mat-sort-header 
        [matTooltip]="'Discord userId'" 
        [matTooltipPosition]="'below'"> 
        Discord UserId
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.discordUserId}} </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </table>
</div>

