<mat-drawer-container hasBackdrop="true" #drawer>
  <mat-drawer [mode]="'over'" position="end">
    <p>hi</p>
  </mat-drawer>
  <mat-drawer-content>
    <div class="manage-configuration-wrapper">
      <div class="content-wrapper">
        <div class="form-wrapper grid-item">
          <div class="header-wrapper centered">
            <h2>{{editMode ? "Manage" : "Create"}} Configuration</h2>
          </div>
          <form [formGroup]="configForm">
            <mat-form-field class="form-field" appearance="outline">
              <input matInput placeholder="Server ID" formControlName="serverId">
            </mat-form-field>

            <mat-form-field class="form-field" appearance="outline">
              <input matInput placeholder="Default Channel" formControlName="defaultChannel">
            </mat-form-field>
          
            <mat-checkbox class="checkbox form-field" formControlName="enableKickCache" color="primary" (change)="onKickCacheClick()">Enable Kick Cache</mat-checkbox>
          
            <mat-form-field class="form-field" appearance="outline">
              <input matInput placeholder="Kick Cache Days" formControlName="kickCacheDays">
            </mat-form-field>
          
            <mat-form-field class="form-field" appearance="outline">
              <input matInput placeholder="Kick Cache Hours" formControlName="kickCacheHours">
            </mat-form-field>
          
            <mat-form-field class="form-field" appearance="outline">
              <input matInput placeholder="Kick Cache Server Message" formControlName="kickCacheServerMessage">
            </mat-form-field>
          
            <mat-form-field class="form-field" appearance="outline">
              <input matInput placeholder="Kick Cache User Message" formControlName="kickCacheUserMessage">
            </mat-form-field>

            <div class="action-container">
              <button
                mat-flat-button
                (click)="onSubmit()"
                color="primary">
                Submit
              </button>
              
              <button
                *ngIf="editMode"
                mat-stroked-button
                (click)="onDeleteConfig()"
                color="primary">
                Delete
              </button>
            </div>

          </form>
        </div>
        <div class="trigger-table-wrapper grid-item">
          <div class="header-wrapper">
            <h2>Triggers</h2>
            <button
              mat-flat-button
              (click)="onCreateTrigger()"
              color="primary"
            >Add Trigger</button>
          </div>
          <app-trigger-table
            [configId]="configId"
            (onTriggerEdit)="onTriggerEdit($event)"
            (onTriggerDelete)="onTriggerDelete($event)"
          ></app-trigger-table>
        </div>
        <div class="user-table-wrapper grid-item">
          <div class="header-wrapper">
            <h2>Users</h2>
            <button
              mat-flat-button
              (click)="onCreateUser()"
              color="primary"
            >Add User</button>
          </div>
          <app-user-table
            [configId]="configId"
            (onUserEdit)="onUserEdit($event)"
            (onUserDelete)="onUserDelete($event)"
        ></app-user-table>
        </div>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>