
$accent-100: #111;
$accent-200: #222;
$accent-300: #333;
$accent-400: #444;
$accent-500: #555;
$accent-600: #666;
$accent-700: #777;
$accent-800: #888;
$accent-900: #999;
$accent-grey-400: #DDD;
$accent-grey-300: #CCC;
$accent-grey-200: #BBB;
$accent-grey-100: #AAA;
$white: #FFF;
$black: #000;

