@import "variables";

mat-drawer {
  width: 80%;
  position: fixed;
  background-color: $color-light;
}

.configuration-wrapper  {
  height: calc(100vh - 64px);
  margin: 0px 32px;

  h2, h3 {
    margin: 0px;
    padding: 0px;
  }

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .mat-table {
    margin: 8px auto;
    height: 650px;
    width: 90%;
    overflow-y: scroll;
    box-shadow: 1px 1px 9px 1px rgba(0, 0, 0, 0.28);
  }

  .mat-column-edit-icon {
    cursor: pointer;
    flex: 1 1;
  }
  .mat-column-defaultChannel,
  .mat-column-enableKickCache,
  .mat-column-kickCacheUserMessage,
  .mat-column-kickCacheServerMessage,
  .mat-column-kickCacheHours,
  .mat-column-kickCacheDays,
  .mat-column-serverName {
    flex: 2 1;
  }
}