@import "../../assets/styles/variables";

.login-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 800px;
  overflow-y: auto;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: $accent-grey-500;

  .login-form {
    display: flex;
    flex-direction: column;
  }
}